@use 'colors' as c;
@use 'utils' as u;
@use 'media-queries' as m;
@use 'fonts' as f;

.businessLaptops {
  display: flex;
}

.filterBlock {
  padding-left: u.toRem(50);
  margin-top: u.toRem(50);

  &__store {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.upperBlock {
  margin-left: u.toRem(275);

  &__breadcrumbs {
    display: flex;
    align-items: center;
    color: c.$pb-blue;
    font-size: u.toRem(13);
    font-family: f.$roboto;
    //   margin-left: u.toRem(275);
    margin-top: u.toRem(30);

    &--current {
      color: #4e4e4e;
    }
  }

  &__mainHead {
    // padding-left: u.toRem(275);
    color: c.$pb-blue;
    font-size: u.toRem(32);
    font-family: f.$roboto;
  }
}

.sortBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: u.toRem(30);
  margin-right: u.toRem(373);

  &__text {
    margin-right: u.toRem(20);
  }
}

.businessList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: u.toRem(350);
  margin-top: u.toRem(37);
  width: u.toRem(420);
  font-family: f.$roboto;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: u.toRem(1190);
    margin-left: u.toRem(340);
    margin-top: u.toRem(10);
    margin-bottom: u.toRem(10);

    &--tiles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: c.$laptoptile-color;
      height: u.toRem(550);
      width: u.toRem(350);
      border-radius: 4px;
      margin-bottom: u.toRem(15);

      &_img {
        background-color: c.$laptoptile-color;
        margin-left: u.toRem(5);
        padding: u.toRem(10);
        width: u.toRem(320);
      }

      &_text {
        margin-top: u.toRem(-10);
        padding-left: u.toRem(15);
        font-family: f.$inter;
        font-size: u.toRem(16);
        font-weight: 700;
        color: c.$text-highlight;
      }

      &_special {
        font-family: f.$inter;
        font-size: u.toRem(13);
        font-weight: 700;
        color: c.$special-red;
      }

      &_noSpecial {
        font-family: f.$inter;
        font-size: u.toRem(13);
        font-weight: 700;
        color: c.$no-special-gray;
      }
    }

    &--price {
      display: flex;
      align-items: flex-start;

      &_dollars {
        color: black;
        font-family: f.$inter;
        font-size: u.toRem(26);
        font-weight: 700;
      }

      &_cents {
        color: black;
        font-family: f.$inter;
        font-size: u.toRem(13);
        font-weight: 700;
        vertical-align: top;
      }
    }
  }
}
