@use 'colors' as c;
@use 'utils' as u;
@use 'media-queries' as m;
@use 'fonts' as f;

.laptopList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: u.toRem(350);
  margin-top: u.toRem(37);
  width: u.toRem(420);
  font-family: f.$roboto;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: u.toRem(1170);
    margin-left: u.toRem(340);

    &--tiles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: c.$laptoptile-color;
      height: u.toRem(550);
      width: u.toRem(350);
      border-radius: 4px;

      &_img {
        background-color: c.$laptoptile-color;
        margin-left: u.toRem(5);
        padding: u.toRem(10);
        width: u.toRem(320);
      }

      &_text {
        margin-top: u.toRem(-10);
        padding-left: u.toRem(15);
        font-family: f.$inter;
        font-size: u.toRem(16);
        font-weight: 700;
        color: c.$text-highlight;
      }

      &_special {
        font-family: f.$inter;
        font-size: u.toRem(13);
        font-weight: 700;
        color: c.$special-red;
      }

      &_noSpecial {
        font-family: f.$inter;
        font-size: u.toRem(13);
        font-weight: 700;
        color: c.$no-special-gray;
      }
    }

    &--price {
      display: flex;
      align-items: flex-start;

      &_dollars {
        color: black;
        font-family: f.$inter;
        font-size: u.toRem(26);
        font-weight: 700;
      }

      &_cents {
        color: black;
        font-family: f.$inter;
        font-size: u.toRem(13);
        font-weight: 700;
        vertical-align: top;
      }
    }
  }

  &__articlesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: u.toRem(1170);
    margin-left: u.toRem(340);
    margin-bottom: u.toRem(10);

    &--tiles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: c.$laptoptile-color;
      height: u.toRem(460);
      width: u.toRem(350);
      border-radius: 4px;

      &_img {
        background-color: c.$laptoptile-color;
        margin-left: u.toRem(5);
        padding: u.toRem(10);
        width: u.toRem(320);
        height: u.toRem(269);
        object-fit: cover;
      }

      &_text {
        margin-top: u.toRem(-10);
        padding-left: u.toRem(15);
        font-family: f.$inter;
        font-size: u.toRem(16);
        font-weight: 700;
        color: c.$text-highlight;

        &-date,
        &-body {
          padding-left: u.toRem(15);
          font-size: u.toRem(13);
          color: c.$no-special-gray;
        }
      }
    }
  }
}

.header {
  font-size: u.toRem(26);
  color: c.$pb-blue;

  &__button {
    display: flex;
    align-items: center;
    font-size: u.toRem(13);
    color: white;
    background-color: c.$text-highlight;
    padding: u.toRem(0) u.toRem(8);
    border-radius: 4px;
    font-family: f.$inter;
    text-decoration: none;
  }

  &__link {
    text-decoration: none;
  }
}

.popGaming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: u.toRem(350);
  margin-top: u.toRem(37);
  width: u.toRem(500);
  font-family: f.$roboto;
}

.popBusiness {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: u.toRem(350);
  margin-top: u.toRem(37);
  width: u.toRem(520);
  font-family: f.$roboto;
}

.laptopArticles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: u.toRem(350);
  margin-top: u.toRem(37);
  width: u.toRem(550);
  font-family: f.$roboto;
}
