$pb-blue: #0d4f77;
$pb-blue-dark: #000000;
$tertiary-color: #6d6d6d;
$propertycardbg-color: #eeeeee;
$standout-color: #ffffff;
$standout-seethrough: #ffffff80;
$details-color: #000000;
$text-highlight: #1278a5;
$pb-orange: #f08222;
$pb-blue-mid: #0e4364;
$text-gray: #878787;
$menu-gray: #f6f7fa;
$menu-text-gray: #3e586d;
$menu-tile: #f4f4f4;
$menu-text: #3e586d;
$button-gray: #e4e4e4;
$laptoptile-color: #eeeeee;
