$pb-blue: #0d4f77;
$pb-blue-dark: #000000;
$tertiary-color: #6d6d6d;
$propertycardbg-color: #eeeeee;
$standout-color: #ffffff;
$standout-seethrough: #ffffff80;
$details-color: #000000;
$text-highlight: #1278a5;
$pb-orange: #f08222;
$pb-orange-dark: #fd7e14;
$pb-blue-mid: #0e4364;
$text-gray: #878787;
$menu-gray: #f6f7fa;
$menu-text-gray: #3e586d;
$menu-tile: #f4f4f4;
$menu-text: #3e586d;
$button-gray: #e4e4e4;
$laptoptile-color: #eeeeee;
$special-red: #f02222;
$no-special-gray: #6d6d6d;
$ft-testimonial: #464646;
$ft-testimonial-tile: #313131;
$ft-testimonial-text: #979797;
$ft-icon-fb: #1773ea;
$ft-icon-twitter: #1c96e8;
$ft-icon-yt: #ee1b0d;
$ft-icon-ig: #c235a7;
$ft-icon-linkedin: #0077b5;
$range-unselect: #d1eeff;
$hover-blue: #0e6ea9;
