$pb-blue: #0d4f77;
$pb-blue-dark: #021724;
$tertiary-color: #6d6d6d;
$propertycardbg-color: #e4e4e4;
$standout-color: #ffffff;
$standout-seethrough: #ffffff80;
$details-color: #000000;
$text-highlight: #1278a5;
$pb-orange: #f08222;
$pb-blue-mid: #0e4364;
$ft-testimonial: #464646;
$ft-testimonial-tile: #313131;
$ft-testimonial-text: #979797;
