@use 'colors' as c;
@use 'utils' as u;

.footer {
  background-color: c.$tertiary-color;
  padding: u.toRem(15) 0;

  &__copyright {
    font-size: u.toRem(10);
    font-weight: 700;
    color: c.$ft-testimonial-text;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__disclaimer {
    font-size: u.toRem(10);
    color: c.$ft-testimonial-text;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
