@use 'colors' as c;
@use 'utils' as u;
@use 'media-queries' as m;
@use 'fonts' as f;

.navbarMid {
  height: u.toRem(60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: c.$pb-blue;
  padding-left: u.toRem(50);
  padding-top: u.toRem(10);
  font-family: f.$roboto;

  &__home {
    display: flex;

    &--logo {
      transform: scale(0.8);
      cursor: pointer;
      width: u.toRem(200);
    }
  }

  &__search {
    padding-left: u.toRem(40);
    width: u.toRem(1100);
    display: flex;
    align-items: center;

    &--wrapper {
      display: flex;
      align-items: center;
      width: u.toRem(1000);
      height: u.toRem(34);
      background-color: white;

      &-input {
        width: u.toRem(900);
        border: none;
        border-radius: 2px 0 0 2px;
        padding-left: u.toRem(10);
      }

      &-addon {
        display: flex;
        align-items: center;
        background-color: white;
        font-size: u.toRem(13);
        width: u.toRem(150);
        color: c.$text-gray;
      }
    }

    &--btn {
      margin-left: 0;
      height: u.toRem(34);
      width: u.toRem(64);
      color: white;
      background-color: c.$pb-orange;
      border: none;
      border-radius: 0 2px 2px 0;
    }
  }

  &__account {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: u.toRem(250);
    font-size: u.toRem(14);
    font-weight: 500;
    color: white;
    width: u.toRem(200);
    padding-top: u.toRem(10);

    &--signin {
      cursor: pointer;
    }
  }
}

.navbarLower {
  background-color: c.$pb-blue;
  height: u.toRem(40);
  padding-left: u.toRem(50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: f.$roboto;

  &__burger {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: u.toRem(0);
    width: u.toRem(180);
    height: u.toRem(40);
    transition: background-color 0.2s ease-in;
    cursor: pointer;
  }

  &__burger:hover {
    background-color: c.$pb-blue-mid;
  }

  &__dropdowns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: u.toRem(750);
    font-size: u.toRem(14);
    margin-right: u.toRem(585);

    &--chevrons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: u.toRem(200);

      &--1 {
        display: flex;
        align-items: center;
      }

      &--2 {
        display: flex;
        align-items: center;
        margin-right: u.toRem(-18);
      }
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: u.toRem(12);
    width: u.toRem(150);
    margin-right: u.toRem(65);
  }
}
