@use 'colors' as c;
@use 'utils' as u;
@use 'media-queries' as m;

.navbar {
  height: u.toRem(80);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background-color: c.$primary-color;
  padding-left: u.toRem(238);

  &__menu {
    display: flex;
    align-items: center;

    &--logo {
      cursor: pointer;
      font-size: 2rem;
      margin-left: u.toRem(24);
      width: u.toRem(200);
    }
  }

  &__search {
    padding-left: u.toRem(40);

    &--input {
      width: u.toRem(600);
      height: u.toRem(30);
    }

    &--btn {
      margin-left: 0;
      height: u.toRem(34);
      width: u.toRem(60);
      color: white;
      background-color: c.$pb-orange;
      border: none;
    }
  }
}
