@use 'colors' as c;
@use 'utils' as u;
@use 'media-queries' as m;
@use 'fonts' as f;

.productpage {
  margin: u.toRem(60) u.toRem(350);
  font-family: f.$inter !important;

  &__main {
    display: flex;

    &--photos {
      position: relative;
      padding: u.toRem(8);
      width: u.toRem(328);
      height: u.toRem(328);
      border: 1px solid #e4e4e4;
      border-radius: 4px;

      img {
        width: 100%;
        box-sizing: border-box;
      }

      &--icons {
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.5s ease;
        padding: u.toRem(4);
        margin: u.toRem(8);
        text-align: center;

        &--scaleheart {
          margin: u.toRem(8);
          padding: u.toRem(4);
          height: u.toRem(12);
          border-radius: u.toRem(50);
          background-color: c.$propertycardbg-color;
          color: c.$details-color;

          &:hover {
            cursor: pointer;
            border: u.toRem(0) solid c.$standout-color;
            color: c.$standout-color;
            background-color: c.$pb-blue;
            transition: border 100ms, color 100ms;
          }
        }
      }
    }

    &--details {
      margin-left: u.toRem(39);

      &--productName {
        font-size: u.toRem(18);
        font-weight: 700;
        color: c.$text-highlight;
        margin: u.toRem(5) u.toRem(0);
      }
    }
  }

  &__frame {
    margin: u.toRem(30) 0;

    &--tile {
      background-color: c.$laptoptile-color;
      border-radius: u.toRem(6);
      padding: 0 u.toRem(30);
      display: flex;
      justify-content: space-between;
      font-size: u.toRem(30);
      font-weight: 600;

      &--icon {
        padding: u.toRem(30) 0;
      }

      &--details {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px 30px;
        gap: 10px;
        position: relative;
        background: #ffffff;
      }
    }

    &--info {
      background: #ffffff;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      padding: u.toRem(20) u.toRem(30);
      transform: translateY(-1%);
      -webkit-transform: translateY(-1%);
      animation: slide-in 0.5s backwards;
      -webkit-animation: slide-in 0.5s backwards;
      animation: slide-out 0.5s backwards;
      -webkit-animation: slide-out 0.5s backwards;

      h2 h3 h4 {
        font-size: u.toRem(20);
        line-height: u.toRem(24.2);
      }

      h2 {
        font-weight: 700;
      }

      h3 {
        font-weight: 600;
      }

      h4 {
        font-weight: 600;
      }

      p li td {
        font-size: u.toRem(16);
        font-weight: 400;
        line-height: u.toRem(19.36);
      }

      li {
        padding-bottom: u.toRem(10);
      }

      tr {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: u.toRem(15);
      }

      th {
        display: flex;
        justify-content: start;
        min-width: u.toRem(250);
      }
    }
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateY(-1%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-1%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-1%);
  }
}
