@use 'colors' as c;
@use 'utils' as u;
@use 'media-queries' as m;

.sitelinks {
  background-color: c.$ft-testimonial-tile;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding: 0 u.toRem(180);

  &--icon {
    color: c.$pb-orange;
    padding-right: u.toRem(5);
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: u.toRem(12);
    margin-bottom: u.toRem(20);
    padding: u.toRem(10);

    &--title {
      color: c.$ft-testimonial-text;
      font-weight: 700;
      padding: u.toRem(20) 0;
    }

    &--department {
      display: grid;

      &--list {
        font-size: u.toRem(12);
        padding-right: u.toRem(50);

        &-ul {
          color: c.$standout-color;
          display: grid;
          grid-template-columns: 1fr 1fr;
          font-size: u.toRem(12);
          padding: 0;
          margin: 0;
          list-style: none;
        }

        &-li {
          padding: u.toRem(5) 0;
        }
      }
    }

    &--company {
      grid-template-rows: 1fr 1fr;
      justify-content: flex-start;
      padding: 0 u.toRem(50);

      &--list {
        &-ul {
          color: c.$standout-color;
          padding: 0;
          margin: 0;
          list-style: none;
        }
        ul li::before {
          content: '\f04b';
          font-family: FontAwesome;
          font-size: u.toRem(8) !important;
          color: c.$pb-orange;
          padding-right: u.toRem(5);
        }

        &-li {
          padding: u.toRem(5) 0;
        }
      }
    }

    &--insider {
      &--details {
        margin: u.toRem(5);
        border-radius: u.toRem(4);
        background-color: c.$ft-testimonial;
        min-height: u.toRem(140);
        width: u.toRem(273.75);

        &--content {
          display: flex;
          justify-content: space-between;
          align-items: stretch;

          img {
            height: u.toRem(60);
            width: u.toRem(60);
            margin: u.toRem(14) 0 u.toRem(10) u.toRem(20);
            font-size: u.toRem(25);
            font-weight: 700;
          }

          p {
            font-size: u.toRem(13.2);
            color: c.$standout-color;
            margin: u.toRem(20) u.toRem(10) 0;
          }
        }

        button {
          background-color: c.$pb-orange;
          color: c.$standout-color;
          border-radius: u.toRem(4);
          border-style: none;
          height: u.toRem(33);
          width: u.toRem(253.75);
          margin: u.toRem(10);

          &:hover {
            cursor: pointer;
            border: u.toRem(0) solid c.$standout-color;
            color: c.$pb-orange;
            background-color: c.$pb-blue;
            transition: border 100ms, color 100ms;
          }
        }
      }
    }
  }
}
