@use 'colors' as c;
@use 'utils' as u;
@use 'media-queries' as m;

.testimonial {
  background-color: c.$ft-testimonial;
  display: grid;
  padding: 0 u.toRem(180);

  p {
    font-size: u.toRem(15);
    color: c.$standout-color;
    margin: u.toRem(20);
  }

  a {
    color: c.$standout-color;
    text-decoration: none;
  }

  &__tiles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 u.toRem(20) 0;

    &--card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      margin: u.toRem(5);
      border-radius: u.toRem(4);
      background-color: c.$ft-testimonial-tile;
      height: u.toRem(250);
      width: u.toRem(273.75);

      @include m.tablet {
        width: u.toRem(390);
      }
      @include m.mobile500px {
        width: u.toRem(273.75);
      }

      &review {
        font-size: u.toRem(13.2);
        font-weight: u.toRem(1);
        color: c.$standout-color;
        margin: 0 u.toRem(10);
        padding: u.toRem(5.28) 0 u.toRem(9.2);
      }

      &bottom {
        color: c.$standout-color;
        display: flex;
        justify-content: space-between;

        &flag {
          margin: u.toRem(20);
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }

        &--reviewer {
          display: flex;

          &pic {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: u.toRem(50);
            background-color: c.$text-highlight;
            height: u.toRem(50);
            width: u.toRem(50);
            margin: u.toRem(14) 0 u.toRem(10) u.toRem(20);
            font-size: u.toRem(25);
            font-weight: 700;
          }

          &name {
            font-size: u.toRem(13.2);
            margin: u.toRem(20) u.toRem(10) 0;
          }

          &date {
            font-size: u.toRem(10);
            color: c.$ft-testimonial-text !important;
            margin: 0 u.toRem(10) u.toRem(20) !important;
          }

          &flag {
            margin: u.toRem(20);
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            &:hover {
              cursor: pointer;
              color: c.$pb-blue;
              transition: border 100ms, color 100ms;
            }
          }
        }
      }
    }
  }
}
