@use 'colors' as c;
@use 'fonts' as f;
@use 'productCard';
@use 'testimonial';
@use 'sitelinks';
@use 'nav';
@use 'hero';
@use 'footer';
@use 'missing';
@use 'upperNav';
@use 'fonts';
@use 'burgerMenu';
@use 'home';
@use 'carousel';
@use 'categoryButtons';
@use 'categoryTiles';

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: f.$roboto;
}
