@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 2.5rem;
}
@media (max-width: 48rem) {
  .products {
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
}
@media (max-width: 31.25rem) {
  .products {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.products__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0.3125rem;
  border-radius: 0.25rem;
  background-color: #eeeeee;
}
.products__card--image {
  margin: 0.5rem;
  max-width: 18.75rem;
  max-height: 18.75rem;
}
.products__card--image img {
  width: 100%;
  box-sizing: border-box;
}
.products__card--image--icons {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s ease;
  padding: 0.25rem;
  margin: 0.5rem;
  text-align: center;
}
.products__card--image--icons--scaleheart {
  margin: 0.5rem;
  padding: 0.25rem;
  height: 0.75rem;
  border-radius: 3.125rem;
  background-color: #eeeeee;
  color: #000000;
}
.products__card--image--icons--scaleheart:hover {
  cursor: pointer;
  border: 0rem solid #ffffff;
  color: #ffffff;
  background-color: #0d4f77;
  transition: border 100ms, color 100ms;
}
.products__card--text {
  width: 18.75rem;
  height: 12.5rem;
}
.products__card--text--productName {
  font-size: 1.125rem;
  font-weight: 700;
  color: #1278a5;
  margin: 0.3125rem 0rem;
}
.products__card--text--normalPriceLabel {
  font-size: 0.9375rem;
  color: #6d6d6d;
  margin: 0.3125rem 0rem;
}
.products__card--text--priceDollar {
  font-size: 1.75rem;
  color: #000000;
  display: inline;
  margin: 0.3125rem 0rem;
}
.products__card--text--priceCents {
  position: absolute;
  margin: 0.3125rem 0.3125rem 0rem 0.3125rem;
  font-size: 0.8125rem;
  color: #000000;
  display: inline;
  margin: 0.3125rem 0rem;
}
.products__card--text--shipping {
  position: absolute;
  bottom: 0;
  font-size: 0.9375rem;
  color: #000000;
  display: inline;
}

.productpage {
  padding: 3.75rem 21.875rem;
  font-family: "Inter" !important;
}
.productpage__main {
  display: flex;
}
@media (max-width: 48rem) {
  .productpage__main {
    display: grid;
  }
}
.productpage__main--photos {
  position: relative;
  height: 28.125rem;
}
.productpage__main--photos--img {
  padding: 0.5rem;
  width: 20.5rem;
  height: 20.5rem;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}
.productpage__main--photos img {
  width: 100%;
  box-sizing: border-box;
}
.productpage__main--photos--icons {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s ease;
  padding: 0.25rem;
  margin: 0.5rem;
  text-align: center;
}
.productpage__main--photos--icons--scaleheart {
  margin: 0.5rem;
  padding: 0.25rem;
  height: 0.75rem;
  border-radius: 3.125rem;
  background-color: #eeeeee;
  color: #000000;
}
.productpage__main--photos--icons--scaleheart:hover {
  cursor: pointer;
  border: 0rem solid #ffffff;
  color: #ffffff;
  background-color: #0d4f77;
  transition: border 100ms, color 100ms;
}
.productpage__main--details {
  margin-left: 2.4375rem;
}
.productpage__main--details--productName {
  font-size: 1.125rem;
  font-weight: 700;
  color: #1278a5;
  margin: 0.3125rem 0rem;
  padding-bottom: 3.8125rem;
}
.productpage__main--details--options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  columns: 100px 3;
  align-items: center;
}
@media (max-width: 48rem) {
  .productpage__main--details--options {
    display: flex;
  }
}
.productpage__main--details--options label {
  font-family: "Inter" !important;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.36125rem;
}
.productpage__main--details--options--dropdown {
  padding: 0.3125rem;
}
.productpage__main--details--options--dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/feather-arrow-down.png");
  width: 7.5rem;
  background-repeat: no-repeat;
  background-position: right 8% bottom 50%;
  border-radius: 0.3125rem;
  padding-right: 20px;
  margin-right: 0.625rem;
  padding: 0.625rem;
}
.productpage__main--details--options--dropdown option {
  padding: 0.625rem;
  height: 10px;
}
.productpage__main--details--price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.15625rem 0;
}
.productpage__main--button button {
  border-radius: 0.25rem;
  border-style: none;
  width: 100%;
  padding: 0.5rem;
  font-family: "Inter" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 0.34375rem 0;
}
.productpage__frame {
  margin: 1.875rem 0;
}
.productpage__frame--tile {
  background-color: #eeeeee;
  border-radius: 0.375rem;
  padding: 0 1.875rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.875rem;
  font-weight: 600;
}
.productpage__frame--tile--icon {
  padding: 1.875rem 0;
}
.productpage__frame--tile--details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 10px;
  position: relative;
  background: #ffffff;
}
.productpage__frame--info {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 1.25rem 1.875rem;
  transform: translateY(-1%);
  -webkit-transform: translateY(-1%);
  animation: slide-in 0.5s backwards;
  -webkit-animation: slide-in 0.5s backwards;
  animation: slide-out 0.5s backwards;
  -webkit-animation: slide-out 0.5s backwards;
}
.productpage__frame--info h2 h3 h4 {
  font-size: 1.25rem;
  line-height: 1.5125rem;
}
.productpage__frame--info h2 {
  font-weight: 700;
}
.productpage__frame--info h3 {
  font-weight: 600;
}
.productpage__frame--info h4 {
  font-weight: 600;
}
.productpage__frame--info p li td {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.21rem;
}
.productpage__frame--info li {
  padding-bottom: 0.625rem;
}
.productpage__frame--info tr {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.9375rem;
}
.productpage__frame--info th {
  display: flex;
  justify-content: start;
  min-width: 15.625rem;
}

.buy-now {
  color: #ffffff;
  background-color: #0d4f77;
}
.buy-now:hover {
  color: #0d4f77;
  background-color: #ffffff;
}

.add-to-cart {
  color: #1278a5;
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}
.add-to-cart:hover {
  color: #f0f0f0;
  background-color: #1278a5;
}

.carousel .thumb {
  display: inline-block;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #e4e4e4 !important;
  border-radius: 4px;
  padding: 2px;
}

.carousel .thumb .carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid #9d9d9d !important;
}

.carousel .thumbs-wrapper {
  margin: 0px !important;
  overflow: hidden;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateY(-1%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes slide-in {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-1%);
  }
}
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-1%);
  }
}
.testimonial {
  background-color: #464646;
  padding: 0 11.25rem;
}
.testimonial__title {
  font-size: 0.9375rem;
  color: #ffffff;
  padding: 1.25rem;
}
.testimonial a {
  color: #ffffff;
  text-decoration: none;
}
.testimonial__tiles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem 1.25rem;
}
.testimonial__tiles--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0.3125rem;
  border-radius: 0.25rem;
  background-color: #313131;
  min-height: 11.25rem;
  width: 17.109375rem;
}
@media (max-width: 48rem) {
  .testimonial__tiles--card {
    width: 24.375rem;
  }
}
@media (max-width: 31.25rem) {
  .testimonial__tiles--card {
    width: 17.109375rem;
  }
}
.testimonial__tiles--cardreview {
  font-size: 0.825rem;
  color: #ffffff;
  padding: 0.9375rem;
}
.testimonial__tiles--cardbottom {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.testimonial__tiles--cardbottomflag {
  margin: 1.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.testimonial__tiles--cardbottom--reviewer {
  display: flex;
}
.testimonial__tiles--cardbottom--reviewerpic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.125rem;
  background-color: #1278a5;
  height: 3.125rem;
  width: 3.125rem;
  margin: 0.875rem 0 0.625rem 1.25rem;
  font-size: 1.5625rem;
  font-weight: 700;
}
.testimonial__tiles--cardbottom--reviewername {
  font-size: 0.825rem;
  margin: 1.25rem 0.625rem 0;
}
.testimonial__tiles--cardbottom--reviewerdate {
  color: #979797;
  margin: 0 0.625rem 1.25rem;
  font-size: 0.825rem;
}
.testimonial__tiles--cardbottom--reviewerflag {
  margin: 1.25rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.testimonial__tiles--cardbottom--reviewerflag:hover {
  cursor: pointer;
  color: #0d4f77;
  transition: border 100ms, color 100ms;
}

.sitelinks {
  background-color: #313131;
  padding: 0 11.25rem;
}
.sitelinks__top {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.sitelinks--icon {
  color: #f08222;
  padding-right: 0.3125rem;
}
.sitelinks__section {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
}
.sitelinks__section--title {
  color: #979797;
  font-weight: 700;
  padding: 1.25rem 0;
}
.sitelinks__section--department {
  display: grid;
}
.sitelinks__section--department--list {
  font-size: 0.75rem;
  padding-right: 3.125rem;
}
.sitelinks__section--department--list-ul {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitelinks__section--department--list-li {
  padding: 0.3125rem 0;
}
.sitelinks__section--company {
  grid-template-rows: 1fr 1fr;
  justify-content: flex-start;
  padding: 0 3.125rem;
}
.sitelinks__section--company--list-ul {
  color: #ffffff;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitelinks__section--company--list ul li::before {
  content: "\f04b";
  font-family: FontAwesome;
  font-size: 0.5rem !important;
  color: #f08222;
  padding-right: 0.3125rem;
}
.sitelinks__section--company--list-li {
  padding: 0.3125rem 0;
}
.sitelinks__section--insider--details {
  margin: 0.3125rem;
  border-radius: 0.25rem;
  background-color: #464646;
  min-height: 8.75rem;
  width: 17.109375rem;
}
.sitelinks__section--insider--details--content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.sitelinks__section--insider--details--content img {
  height: 3.75rem;
  width: 3.75rem;
  margin: 0.875rem 0 0.625rem 1.25rem;
  font-size: 1.5625rem;
  font-weight: 700;
}
.sitelinks__section--insider--details--content p {
  font-size: 0.825rem;
  color: #ffffff;
  margin: 1.25rem 0.625rem 0;
}
.sitelinks__section--insider--details button {
  background-color: #f08222;
  color: #ffffff;
  border-radius: 0.25rem;
  border-style: none;
  height: 2.0625rem;
  width: 15.859375rem;
  margin: 0.625rem;
}
.sitelinks__section--insider--details button:hover {
  cursor: pointer;
  border: 0rem solid #ffffff;
  text-decoration: underline;
  background-color: #fd7e14;
  transition: border 100ms, color 100ms;
}
.sitelinks__section--pay img {
  height: 1.4375rem;
  margin: 0.15625rem;
  border-radius: 0.25rem;
}
.sitelinks__section--country {
  padding: 0.3125rem 0.625rem;
  font-size: 0.825rem;
  color: #ffffff;
  border-radius: 0.25rem;
  background-color: #464646;
}
.sitelinks__section--country--icon {
  padding-right: 0.3125rem;
}
.sitelinks__section--country a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.3125rem;
}
.sitelinks__section--download {
  padding: 0.3125rem 0.625rem;
  font-size: 0.825rem;
  color: #6d6d6d;
  display: flex;
  align-items: center;
}
.sitelinks__section--download--icon {
  padding: 0 0.3125rem;
  height: 1.5625rem;
}
.sitelinks__section--download--icon:hover {
  cursor: pointer;
  color: #ffffff;
}
.sitelinks__section--socials {
  padding: 0.3125rem 0.625rem;
  font-size: 0.825rem;
  color: #6d6d6d;
  display: flex;
  align-items: center;
}
.sitelinks__section--socials--icon {
  padding: 0 0.3125rem;
  height: 1.5625rem;
}
.sitelinks__bottom {
  border-top: 0.0625rem solid #464646;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.sitelinks__fb:hover {
  cursor: pointer;
  color: #1773ea;
}
.sitelinks__twitter:hover {
  cursor: pointer;
  color: #1c96e8;
}
.sitelinks__yt:hover {
  cursor: pointer;
  color: #ee1b0d;
}
.sitelinks__ig:hover {
  cursor: pointer;
  color: #c235a7;
}
.sitelinks__linkedin:hover {
  cursor: pointer;
  color: #0077b5;
}

.navbarMid {
  height: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #0d4f77;
  padding-left: 3.125rem;
  padding-top: 0.625rem;
  font-family: "Inter" !important;
}
.navbarMid__home {
  display: flex;
}
.navbarMid__home--logo {
  transform: scale(0.8);
  cursor: pointer;
  width: 12.5rem;
}
.navbarMid__search {
  padding-left: 6.25rem;
  width: 68.75rem;
  display: flex;
  align-items: center;
}
.navbarMid__search--wrapper {
  display: flex;
  align-items: center;
  width: 62.5rem;
  height: 2.125rem;
  background-color: white;
}
.navbarMid__search--wrapper-input {
  width: 56.25rem;
  border: none;
  outline: none;
  border-radius: 2px 0 0 2px;
  padding-left: 0.625rem;
}
.navbarMid__search--wrapper-addon {
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 0.8125rem;
  width: 9.375rem;
  color: #878787;
  cursor: pointer;
}
.navbarMid__search--btn {
  margin-left: 0;
  height: 2.125rem;
  width: 4rem;
  color: white;
  background-color: #f08222;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}
.navbarMid__account {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 12.1875rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  width: 12.5rem;
  padding-top: 0.625rem;
}
.navbarMid__account--signin {
  cursor: pointer;
}

.navbarLower {
  background-color: #0d4f77;
  height: 2.5rem;
  padding-left: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Roboto", sans-serif;
}
.navbarLower__burger {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 0rem;
  width: 11.25rem;
  height: 2.5rem;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.navbarLower__burger:hover {
  background-color: #0e4364;
}
.navbarLower__dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 46.875rem;
  font-size: 0.875rem;
  margin-right: 29.375rem;
  cursor: pointer;
}
.navbarLower__dropdowns--chevrons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12.5rem;
}
.navbarLower__dropdowns--chevrons--1 {
  display: flex;
  align-items: center;
}
.navbarLower__dropdowns--chevrons--2 {
  display: flex;
  align-items: center;
  margin-right: -1.125rem;
}
.navbarLower__contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.75rem;
  width: 9.375rem;
  margin-right: 4.0625rem;
}

.accountMenu {
  position: absolute;
  z-index: 11;
  right: 5.875rem;
  top: 5.75rem;
  width: 14.375rem;
  height: 14.5rem;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  font-family: "Inter" !important;
}
.accountMenu__upper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.8125rem;
}
.accountMenu__upper--register {
  width: 5.625rem;
  height: 1.9375rem;
  border: none;
  border-radius: 4px;
  background-color: #0d4f77;
  color: white;
  cursor: pointer;
}
.accountMenu__upper--signin {
  width: 5.625rem;
  height: 1.9375rem;
  border: solid black 1px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
.accountMenu__upper--register:hover {
  color: #f08222;
}
.accountMenu__upper--signin:hover {
  color: #f08222;
}
.accountMenu__lower {
  margin-left: 1.375rem;
  font-size: 0.8125rem;
}
.accountMenu__lower--text {
  cursor: pointer;
}
.accountMenu__lower--text:hover {
  color: #f08222;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: url("../images/bg-image.jpg");
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 6% 6%;
  color: #0d4f77;
}
.hero__taglinecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__taglinecontainer h1 {
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 1.24;
  color: #0d4f77;
}
.hero__taglinecontainer p {
  font-size: 1.25rem;
  color: #0d4f77;
  font-weight: 600;
}
.hero__searchcontainer {
  width: auto;
}
.hero__searchcontainer--form {
  display: grid;
  grid-template-columns: 1fr 20%;
  justify-items: center;
  border-width: 0.0625rem;
  border-radius: 0.625rem;
  padding: 2%;
  margin: 4.375rem 0 0 0;
  align-items: center;
}
@media (max-width: 48rem) {
  .hero__searchcontainer--form {
    grid-template-columns: 1fr;
    width: 25%;
    align-items: center;
    justify-items: normal;
  }
}
@media (max-width: 16.75rem) {
  .hero__searchcontainer--form {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: normal;
  }
}
.hero__searchcontainer--form input {
  background-color: #6d6d6d;
  border: #6d6d6d;
  color: #000000;
  float: left;
  height: 2.5rem;
  width: 550px;
  padding: 0.625rem 0.625rem;
  font-size: 1.5rem;
}
.hero__searchcontainer--form input:focus {
  outline: none;
}
@media (max-width: 48rem) {
  .hero__searchcontainer--form input {
    width: 34.375rem;
  }
}
@media (max-width: 43.75rem) {
  .hero__searchcontainer--form input {
    width: 25rem;
  }
}
@media (max-width: 31.25rem) {
  .hero__searchcontainer--form input {
    width: 17.5rem;
  }
}
@media (max-width: 16.75rem) {
  .hero__searchcontainer--form input {
    width: 12.5rem;
  }
}
.hero__searchcontainer--form button {
  background: #ffffff;
  border: none;
  outline: none;
  color: #0d4f77;
  cursor: pointer;
  height: 3.75rem;
  padding: 0 1.875rem;
  font-size: 1rem;
}
.hero__searchcontainer--form button:hover, .hero__searchcontainer--form button:focus {
  border: 0rem solid #ffffff;
  background-color: #6d6d6d;
  transition: border 100ms, color 100ms;
  color: #ffffff;
}

.footer {
  background-color: #6d6d6d;
  padding: 0.9375rem 0;
}
.footer__copyright {
  font-size: 0.625rem;
  font-weight: 700;
  color: #979797;
  display: flex;
  justify-content: center;
  align-items: end;
}
.footer__disclaimer {
  font-size: 0.625rem;
  color: #979797;
  display: flex;
  justify-content: center;
  align-items: start;
}

.missing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 6% 6%;
  color: #0d4f77;
}
.missing__taglinecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.missing__taglinecontainer h1 {
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 1.24;
  color: #0d4f77;
}
.missing__taglinecontainer p {
  font-size: 1.25rem;
  color: #0d4f77;
  font-weight: 600;
}

.upperNav {
  height: 2.125rem;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 0.8125rem;
  font-weight: 400;
}
.upperNav__homeBtn {
  padding-left: 4.375rem;
  width: 3.75rem;
}
.upperNav__homeBtn--link {
  text-decoration: none;
  color: inherit;
}
.upperNav__mainBtns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 118.75rem;
  padding-left: 0.625rem;
  margin-right: 1.5625rem;
}
.upperNav__appBtn {
  display: flex;
  align-items: center;
  width: 17.5rem;
  margin-right: 1.5625rem;
}
.upperNav__appBtn--mobileIcon {
  margin-right: 0.3125rem;
}
.upperNav__mainBtns--text:hover, .upperNav__appBtn:hover, .upperNav__homeBtn:hover {
  color: #f08222;
  cursor: pointer;
}

.burgerMenu {
  display: flex;
  position: absolute;
  z-index: 10;
  font-size: 0.75rem;
  padding-bottom: 1.25rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #3e586d;
  font-family: "Roboto", sans-serif;
}
.burgerMenu__left {
  display: flex;
  flex-direction: column;
}
.burgerMenu__left--options {
  display: flex;
  align-items: center;
  width: 17.5rem;
  background-color: #f6f7fa;
  padding-left: 0.75rem;
  cursor: pointer;
}
.burgerMenu__left--options:hover {
  color: #f08222;
}
.burgerMenu__left--text {
  padding-left: 0.625rem;
}
.burgerMenu__right {
  background-color: white;
  width: 37.5rem;
}
.burgerMenu__right--upper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.burgerMenu__right--lower {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 4.0625rem;
  margin-right: 6.875rem;
}
.burgerMenu__tile {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 0.625rem;
  padding-top: -1.5625rem;
  border-radius: 4px;
}
.burgerMenu__tile--image {
  transform: scale(0.5);
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
}
.burgerMenu__tile--text {
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: -2.8125rem;
  background-color: #f4f4f4;
}
.burgerMenu__tile--text:hover {
  color: #f08222;
  cursor: pointer;
}

.menuHeader {
  font-weight: 700;
}

.menuText {
  text-decoration: none;
}

.menuHeader:hover,
.menuText:hover {
  color: #f08222;
  cursor: pointer;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  color: #0d4f77;
  font-size: 0.8125rem;
  font-family: "Roboto", sans-serif;
  margin-left: 21.875rem;
  margin-top: 1.875rem;
}
.breadcrumbs__current {
  color: #4e4e4e;
}
.breadcrumbs a {
  text-decoration: none;
}

.carouselHome {
  margin-left: 30.3125rem;
  margin-top: 1.1875rem;
}
.carouselHome__image {
  transform: scale(1.3);
}

.laptopType,
.screenSize {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 21.875rem;
  margin-top: 2.3125rem;
  width: 25.8125rem;
  font-family: "Roboto", sans-serif;
}
.laptopType__container,
.screenSize__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 21.875rem;
  margin-right: 23.4375rem;
  font-family: "Roboto", sans-serif;
}
.laptopType__container--buttons,
.screenSize__container--buttons {
  font-size: 1rem;
  background-color: #e4e4e4;
  width: 13.25rem;
  height: 3.6875rem;
  border-radius: 4px;
  padding: 1.25rem;
  text-align: center;
  margin: 1.25rem 1.25rem 1.25rem 0rem;
  text-decoration: none;
  cursor: pointer;
}
.laptopType__container--buttons:hover,
.screenSize__container--buttons:hover {
  color: #f08222;
}

.header {
  font-size: 1.625rem;
  color: #0d4f77;
}
.header__button {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  color: white;
  background-color: #1278a5;
  padding: 0rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.operatingSystem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 21.875rem;
  margin-top: 2.3125rem;
  width: 29.875rem;
  font-family: "Roboto", sans-serif;
}
.operatingSystem__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 56.25rem;
  margin-left: 21.875rem;
  margin-right: 23.4375rem;
  font-family: "Roboto", sans-serif;
}
.operatingSystem__container--buttons {
  font-size: 1rem;
  background-color: #e4e4e4;
  width: 13.25rem;
  height: 3.6875rem;
  border-radius: 4px;
  padding: 1.25rem;
  text-align: center;
  margin: 1.25rem 1.25rem 1.25rem 0rem;
  cursor: pointer;
}
.operatingSystem__container--buttons:hover {
  color: #f08222;
}

.laptopList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 21.875rem;
  margin-top: 2.3125rem;
  width: 26.25rem;
  font-family: "Roboto", sans-serif;
}
.laptopList__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73.125rem;
  margin-left: 21.25rem;
}
.laptopList__container--tiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eeeeee;
  height: 34.375rem;
  width: 21.875rem;
  border-radius: 4px;
}
.laptopList__container--tiles_img {
  background-color: #eeeeee;
  margin-left: 0.3125rem;
  padding: 0.625rem;
  width: 20rem;
}
.laptopList__container--tiles_text {
  margin-top: -0.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.laptopList__container--tiles_text_link {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #1278a5;
  text-decoration: none;
}
.laptopList__container--tiles_special {
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  color: #f02222;
}
.laptopList__container--tiles_noSpecial {
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  color: #6d6d6d;
}
.laptopList__container--price {
  display: flex;
  align-items: flex-start;
}
.laptopList__container--price_dollars {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
}
.laptopList__container--price_cents {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  vertical-align: top;
}
.laptopList__articlesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73.125rem;
  margin-left: 21.25rem;
  margin-bottom: 0.625rem;
}
.laptopList__articlesContainer--tiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eeeeee;
  height: 28.75rem;
  width: 21.875rem;
  border-radius: 4px;
}
.laptopList__articlesContainer--tiles_img {
  background-color: #eeeeee;
  margin-left: 0.3125rem;
  padding: 0.625rem;
  width: 20rem;
  height: 16.8125rem;
  object-fit: cover;
}
.laptopList__articlesContainer--tiles_text {
  margin-top: -0.625rem;
  padding-left: 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #1278a5;
}
.laptopList__articlesContainer--tiles_text-date, .laptopList__articlesContainer--tiles_text-body {
  padding-left: 0.9375rem;
  font-size: 0.8125rem;
  color: #6d6d6d;
}

.header {
  font-size: 1.625rem;
  color: #0d4f77;
}
.header__button {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  color: white;
  background-color: #0d4f77;
  padding: 0rem 0.5rem;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.header__button:hover {
  background-color: #0e6ea9;
}
.header__link {
  text-decoration: none;
}

.popGaming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 21.875rem;
  margin-top: 2.3125rem;
  width: 31.25rem;
  font-family: "Roboto", sans-serif;
}

.popBusiness {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 21.875rem;
  margin-top: 2.3125rem;
  width: 32.5rem;
  font-family: "Roboto", sans-serif;
}

.laptopArticles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 21.875rem;
  margin-top: 2.3125rem;
  width: 34.375rem;
  font-family: "Roboto", sans-serif;
}

.businessLaptops {
  display: flex;
}

.filterBlock {
  padding-left: 3.125rem;
  margin-top: 3.125rem;
  font-family: "Roboto", sans-serif;
  width: 12.5rem;
  position: absolute;
}
.filterBlock__store {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.875rem;
  font-weight: 700;
}
.filterBlock__store--dropdown {
  margin-bottom: 3.125rem;
  font-weight: 400;
  cursor: pointer;
}
.filterBlock__shipping {
  margin-bottom: 3.125rem;
}
.filterBlock__shipping--header {
  font-weight: 700;
  font-size: 0.875rem;
}
.filterBlock__shipping--inputs {
  font-size: 0.8125rem;
}
.filterBlock__price {
  margin-bottom: 3.125rem;
}
.filterBlock__price--header {
  font-weight: 700;
  font-size: 0.875rem;
}
.filterBlock__price input[type=range] {
  appearance: none;
  margin-left: 0.3125rem;
  width: 10.9375rem;
  height: 0.25rem;
  border-radius: 2px;
  background-repeat: no-repeat;
}
.filterBlock__price input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.filterBlock__brands {
  margin-bottom: 3.125rem;
  font-size: 0.875rem;
}
.filterBlock__brands--header {
  font-weight: 700;
}
.filterBlock__brands--dropdown {
  cursor: pointer;
}
.filterBlock__cpu {
  margin-bottom: 3.125rem;
  font-size: 0.875rem;
}
.filterBlock__cpu--header {
  font-weight: 700;
}
.filterBlock__cpu--dropdown {
  cursor: pointer;
}
.filterBlock__memory {
  margin-bottom: 3.125rem;
}
.filterBlock__memory--header {
  font-weight: 700;
  font-size: 0.875rem;
}
.filterBlock__memory input[type=range] {
  appearance: none;
  margin-left: 0.3125rem;
  width: 10.9375rem;
  height: 0.25rem;
  border-radius: 2px;
  background-repeat: no-repeat;
}
.filterBlock__memory input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.filterBlock__showMore {
  width: 9.375rem;
  height: 1.75rem;
  background-color: #0d4f77;
  color: white;
  font-size: 0.8125rem;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  margin-left: 0.9375rem;
  cursor: pointer;
}

.upperBlock {
  margin-left: 21.875rem;
}
.upperBlock__breadcrumbs {
  display: flex;
  align-items: center;
  color: #0d4f77;
  font-size: 0.8125rem;
  font-family: "Roboto", sans-serif;
  margin-top: 1.875rem;
}
.upperBlock__breadcrumbs--current {
  color: #4e4e4e;
}
.upperBlock__mainHead {
  color: #0d4f77;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.sortBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.875rem;
  margin-right: 23.3125rem;
}
.sortBar__text {
  margin-right: 1.25rem;
}

.businessList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 21.875rem;
  margin-top: 2.3125rem;
  width: 26.25rem;
  font-family: "Roboto", sans-serif;
}
.businessList__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 74.375rem;
  margin-left: 21.25rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.businessList__container--tiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eeeeee;
  height: 34.375rem;
  width: 21.875rem;
  border-radius: 4px;
  margin-bottom: 0.9375rem;
}
.businessList__container--tiles_img {
  background-color: #eeeeee;
  margin-left: 0.3125rem;
  padding: 0.625rem;
  width: 20rem;
}
.businessList__container--tiles_text {
  margin-top: -0.625rem;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
.businessList__container--tiles_text_link {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 700;
  color: #1278a5;
  text-decoration: none;
}
.businessList__container--tiles_special {
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  color: #f02222;
}
.businessList__container--tiles_noSpecial {
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  color: #6d6d6d;
}
.businessList__container--price {
  display: flex;
  align-items: flex-start;
}
.businessList__container--price_dollars {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
}
.businessList__container--price_cents {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  vertical-align: top;
}

.dropDown__container {
  text-align: left;
  border: 1px solid black;
  position: relative;
  border-radius: 4px;
  width: 12.5rem;
}
.dropDown__input {
  padding: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.dropDown__menu {
  position: absolute;
  transform: translateY(6.125rem) translateX(-0.375rem);
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  overflow: auto;
  max-height: 9.375rem;
  background-color: white;
}
.dropDown__menu--item {
  padding: 0.3125rem;
  cursor: pointer;
}
.dropDown__menu--item:hover {
  background-color: #6d6d6d;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=index.css.map */
